{% extends 'default.html' %}

{% block main %}
  <form method="post" action="portfolio">
    {% csrf_token %}
    {% for error in errors %}
      {{ error }}<br>
    {% endfor %}
    <input autofocus="true" name="stock" placeholder="Stock" type="text"/>
    <input type="hidden" name="which-form" value="find-stock"/>
    <button type="submit">Find Stock</button>
  </form>

  {% if stock %}
    <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Last price</th>
        <th>Change</th>
        <th>Volume</th>
        <th>Avg. Vol</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Previous Close</th>
        <th>52w Range</th>
        <th>Div & Yield</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ stock.Name }}</td>
        <td>{{ stock.Symbol }}</td>
        <td>{{ stock.LastTradePriceOnly }}</td>
        <td style="color: {% if stock.Change|first == '+' %}green{% else %}red{% endif %};">{{ stock.Change }} ({{ stock.PercentChange}})</td>
        <td>{{ stock.Volume }}</td>
        <td>{{ stock.AverageDailyVolume }}</td>
        <td>{{ stock.Open }} </td>
        <td>{{ stock.DaysHigh }}</td>
        <td>{{ stock.DaysLow }}</td>
        <td>{{ stock.PreviousClose }}</td>
        <td>{{ stock.YearRange }}</td>
        <td>{{ stock.DividendShare }} ( {{ stock.DividendYield }} )</td>
      </tr>
    </tbody>
    </table>

    <form method="post" action="portfolio">
      {% csrf_token %}
      <input type="hidden" name="stock-symbol" value="{{ stock.Symbol }}"/>
      <input type="hidden" name="cost-per-share" value="{{ stock.LastTradePriceOnly }}"/>
      <input type="hidden" name="which-form" value="download-historical"/>
      <button type="submit">Download Historical data of {{ stock.Symbol }} </button>
    </form>

    <form method="post" action="portfolio">
      {% csrf_token %}
      <input name="shares" placeholder="No. of Shares" type="text"/>
      <input type="hidden" name="stock-symbol" value="{{ stock.Symbol }}"/>
      <input type="hidden" name="cost-per-share" value="{{ stock.LastTradePriceOnly }}"/>
      <input type="hidden" name="which-form" value="buy-stock"/>
      <button type="submit">Buy {{ stock.Symbol }} </button>
    </form>

  {% endif %}

  {% if portfolio %}
    <table name="portfolio-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Last price</th>
        <th>Change</th>
        <th>Volume</th>
        <th>Avg. Vol</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Previous Close</th>
        <th>52w Range</th>
        <th>Div & Yield</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for stocks in portfolio %}
        <tr>
          <td>{{ stocks.Name }}</td>
          <td>{{ stocks.Symbol }}</td>
          <td>{{ stocks.shares }}</td>
          <td>{{ stocks.LastTradePriceOnly }}</td>
          <td style="color: {% if stocks.Change|first == '+' %}green{% else %}red{% endif %};">{{ stocks.Change }} ({{ stocks.PercentChange}})</td>
          <td>{{ stocks.Volume }}</td>
          <td>{{ stocks.AverageDailyVolume }}</td>
          <td>{{ stocks.Open }} </td>
          <td>{{ stocks.DaysHigh }}</td>
          <td>{{ stocks.DaysLow }}</td>
          <td>{{ stocks.PreviousClose }}</td>
          <td>{{ stocks.YearRange }}</td>
          <td>{{ stocks.DividendShare }} ( {{ stocks.DividendYield }} )</td>
          <td>
           <form method="post" action="portfolio">
            {% csrf_token %}
            <input name="shares" placeholder="No. of Shares" type="text"/>
            <input type="hidden" name="stock-symbol" value="{{ stock.Symbol }}"/>
            <input type="hidden" name="cost-per-share" value="{{ stock.LastTradePriceOnly }}"/>
            <input type="hidden" name="which-form" value="buy-stock"/>
            <button type="submit">Buy More {{ stocks.Symbol }} </button>
          </form>
         </td>
          <td>
            <form method="post" action="portfolio">
              {% csrf_token %}
              <input name="shares" placeholder="No. of Shares" type="text"/>
              <input type="hidden" name="stock-symbol" value="{{ stocks.Symbol }}"/>
              <input type="hidden" name="cost-per-share" value="{{ stocks.LastTradePriceOnly }}"/>
              <input type="hidden" name="which-form" value="sell-stock"/>
              <button type="submit">Sell {{ stocks.Symbol }} </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>

  {% endif %}

  {% if portfolio_rows %}

    <h2>Portfolio Time vs. Value Graph</h2>

    <div id="portfolio-time-val-graph" style="height:400px;min-width:310px"></div>

    <h2>Portfolio</h2>

    <table id="portfolio-time-val-table">
      <thead>
        <tr>
          <th>Portfolio Value</th>
          <th>Date</th>
          <th>Percent</th>
          <th>Volume</th>
          <th>High</th>
          <th>Low</th>
          <th>Close</th>
        </tr>
      </thead>
      <tbody>
        {% for row in portfolio_rows %}
        <tr>
          <td class="portfolio-table-value">${{ row.Value | floatformat:2 }}</td>
          <td class="portfolio-table-date">{{ row.Date }}</td>
          <td style="color: {% if row.Percent > 0 %}green{% else %}red{% endif %};">
              {% if row.Percent > 0 %}+{% endif %}{{ row.Percent | floatformat:2 }}
          </td>
          <td>{{ row.Volume }}</td>
          <td>{{ row.High | floatformat:2 }}</td>
          <td>{{ row.Low | floatformat:2 }}</td>
          <td>{{ row.AdjClose | floatformat:2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% load compress %}
    {% compress js %}
      <script src="{{ STATIC_URL }}scripts/coffee/plot-val-time.coffee" type="text/coffeescript"></script>
    {% endcompress %}

  {% endif %}

{% endblock %}