{% extends 'default.html' %}

{% block main %}
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3" style="background-color:lightblue;">
      <img src="{{ STATIC_URL }}images/amay.jpg" class="img-thumbnail" alt="Amay Yadav" width="200" height="300">
    </div>
    <div class="col-sm-9" style="background-color:lightblue;">
      <h2>Amay Yadav</h2>
      <br>
      <br>
      <p>Amay is a Computer Engineering student at NYU. He has strong interests in microprocessors, Quantum Computing, and creation of efficient algorithms. Currently, Amay is working for the Elmer & Bobst Library of NYU.</p>
    </div>
  </div>
</div>

<!---second jumbotron-->
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3" style="background-color:lightblue;">
      <img src="{{ STATIC_URL }}images/nadia.jpg" class="img-thumbnail" alt="Nadia Tian" width="200" height="300">
    </div>

    <div class="col-sm-9" style="background-color:lightblue;">
      <h2>Nadia Xiaowan Tian</h2>
      <br>
      <p>Nadia is an MBA student at NYU Stern School of Business, specializing in Finance and Social Innovation & Impact. Nadia has worked in the Financial Industry for 7 years. In addition, Nadia is a regular volunteer for New York Cares focusing on financial literacy and job readiness training.</p>
    </div>
  </div>
</div>


<!---third jumbotron-->
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3" style="background-color:lightblue;">
      <img src="{{ STATIC_URL }}images/gloria.jpg" class="img-thumbnail" alt="Liuting Ye" width="200" height="300">
    </div>

    <div class="col-sm-9" style="background-color:lightblue;">
      <h2>Gloria Liuting Ye</h2>
      <br>
      <p>Gloria is a master student at NYU School of Engineering, majoring in Industrial Engineering specializing in supply chain management. Outside the academic field, Gloria is a curious and passionate learner, especially when it comes to dance. She learnt Jazz dance in college, and she's picking up Swing and Salsa recently. </p>
    </div>
  </div>
</div>
{% endblock %}